<html>

<head>
    <title>Lightweight Charts test</title>
</head>

<body>
    <h1>{{title}}</h1>

    <div id="chart"></div>
    <!--<input id="input_data" type="file" accept=".csv" style="margin-top: 10px; margin-bottom: 10px;" -->
    <div id="trades" style="border:1px solid black; margin-top: 20px; margin-bottom: 20px;">

        <h2>binance WebSocket test</h2>
        <br />
        <h3>recieved data: </h3>
        <br />
        <label id="recievedData"></label>

    </div>

    <h3>Settings</h3>

    <div id="settings">
        <input type="checkbox" /> RSI

        <input type="text" id="rsi_length" name="rsi_length" placeholder="14" />
        Overbought
        <input type="text" id="rsi_overbought" name="rsi_overbought" placeholder="70" />
        Oversold
        <input type="text" id="rsi_length" name="rsi_length" placeholder="30" />
    </div>

    <script>

        var binanceSocket = new WebSocket("wss://stream.binance.com:9443/ws/ethbtc@trade");

        var tradeDiv = document.getElementById("trades");
        var priceLabel = document.getElementById("recievedData");

        binanceSocket.onmessage = function (event) {
            var parsedData = JSON.parse(event.data);
            //console.log(parsedData);

            priceLabel.innerText =
                "Event type: " + parsedData.e + '\n' +
                "Event time: " + new Date(parsedData.E) + '\n' +
                "Symbol: " + parsedData.s + '\n ' +
                "Trade ID: " + parsedData.t + '\n ' +
                "Price: " + parsedData.p + '\n ' +
                "Quantity: " + parsedData.q + '\n ' +
                "Buyer order ID: " + parsedData.b + '\n ' +
                "Seller order ID: " + parsedData.a + '\n ' +
                "Trade time: " + new Date(parsedData.T) + '\n ' +
                "Is the buyer the market maker: " + parsedData.m + '\n ' +
                "Ignore: " + parsedData.M
                ;

        }

    </script>

    <script src="https://unpkg.com/lightweight-charts/dist/lightweight-charts.standalone.production.js"></script>
    <script src="test_data.js"></script>
    <script src="{{url_for('static', filename='chart.js')}}"></script>

</body>

</html>